<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<html>
<body>
  <div>
    <img class="top-logo" src="./assets/top-logo.png">
  </div>

  <ul>
    <li><a href="#" routerLink="/">Home</a></li>
    <li><a href="#" routerLink="/gallery">Gallery</a></li>
    <li><a href="#" routerLink="/designs">Designs</a></li>
    <li><a href="#" routerLink="/location">Location</a></li>
    <li><a href="#" routerLink="/contact">Contact</a></li>
  </ul>
</body>
</html>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

<div class="flex-container">
  <div class="social-btns" onclick="window.open('https://www.facebook.com/EdasTattoo/posts/', '_blank');"
  style=  "background: url(/assets/facebook.png); 
                background-position: center;
                background-size: contain;"></div>
  <div class="social-btns" onclick="window.open('https://www.facebook.com/EdasTattoo/posts/', '_blank');"
  style=  "background: url(/assets/instagram.png); 
                background-position: center;
                background-size: contain;"></div>
</div>

<div class="line"></div>

<div class="center">
  <p class="credits">Website: © 2021 Eivydas Raulynaitis, </p><a class="credits" target="_blank" href="https://www.eivydas.com/" style="padding-left: 6px">eivydas.com</a>
</div>
