<body>
	<div class="flex-container-top">
	  <img class="portrait-img" src="./assets/portrait.jpg">
	  <div class="flex-container-col">
		<div class="multiline">
		  <p class="main-container">Get it done here!</p>
		  <p class="main-container">High quality professional tattoos.</p>
		  <p class="main-container">Check out the gallery.</p>
		  <p class="main-container">Make an appointment today! -Edas Tattoo Studio</p>
		</div>
	  </div>
	</div>
  
	<div class="flex-container">
		<div class="img" style=  "background: url(./assets/ex1.jpg); 
	  							background-position: center;
	  							background-size: contain;"></div>
		<div class="img" style=  "background: url(./assets/ex2.jpg); 
	  							background-position: center;
	  							background-size: contain;"></div>
		<div class="img" style=  "background: url(./assets/ex3.jpg); 
	  							background-position: center;
	  							background-size: contain;"></div>
		<div class="img" style=  "background: url(./assets/ex4.jpg); 
	  							background-position: center;
	  							background-size: contain;"></div>	
	</div>
	<div class="center">
		<button href="#" routerLink="/gallery" class="button" style="vertical-align: middle"><span>View gallery...</span></button>
	</div>
  </body>